<div class="container-fluid">

  <div class="row">
    <div class="col-2">
      <div id="sidebar">
        <div id="search" class="container">
          <div class="mb-3">
            <label for="search-input" class="form-label">Buscar capas</label>
            <input type="text" class="form-control" id="search-input" placeholder="nombre capa..." type="search"
              [formControl]="searchField">
          </div>
          <div class="list">
            <ul>
              <li *ngFor="let layer of filteredLayers | async">
                {{layer.name}}
              </li>
            </ul>

          </div>
        </div>

      </div>
    </div>
    <div class="col-10">
      <div id="map">
      </div>
    </div>

  </div>
</div>